<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
  <head>
    <!-- <meta charset="ISO-8859-1"> -->
    <meta charset="UTF-8" />
    <title></title>

    <!-- Custom fonts for this template-->
    <link
      th:href="@{/vendor/fontawesome-free/css/all.min.css}"
      rel="stylesheet"
      type="text/css"
    />
    <link th:href="@{/css/css.css}" rel="stylesheet" />

    <!-- Custom styles for this template-->
    <link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet" />
  </head>
  <body>
    <!-- Page Wrapper -->
    <div id="wrapper">
      <lu th:replace="layout/leftsidebar :: leftSide_bar"></lu>

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
          <nav th:replace="layout/topnavbar :: top_navbar"></nav>

          <!-- Begin Page Content -->
          <div class="container-fluid" layout:fragment="page-content">
            <!-- 									/.container-fluid -->
            <h1 th:text="${titulo}"></h1>

            <div class="row">
              <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="card shadow mb-4">
                  <!-- Card Header - Dropdown -->
                  <div
                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
                  >
                    <h6 class="m-0 font-weight-bold text-primary">
                      Crear Grado
                    </h6>
                  </div>
                  <div class="card-body">
                    <form
                      th:object="${grado}"
                      th:action="@{/views/grados/salvar}"
                      method="post"
                    >
                      <div class="form-row">
                        <div class="form-group col-md-6">
                          <input type="hidden" th:field="*{grLlave}" />
                          <label for="grCodigo">Código Directivo</label>
                          <input
                            type="text"
                            class="form-control"
                            id="grCodigo"
                            placeholder="Código Grado"
                            th:field="*{grCodigo}"
                          />
                        </div>
                        <div class="form-group col-md-6">
                          <label for="grDesc">Descripción</label>
                          <input
                            type="text"
                            class="form-control"
                            id="grDesc"
                            placeholder="Descripción Grado"
                            th:field="*{grDesc}"
                          />
                        </div>
                        <div class="col-md-6 mb-4">
                          <label for="grColegio">Colegio</label>
                          <select class="form-control" id="grColegio" th:field="*{ColegiosDto.coLlave}" >
                            <option
                              th:each="col:${colegios}"
                              th:value="${col.coLlave}"
                              th:text="${col.coNombre}"
                            />
                          </select>
                        </div>
                        <div class="form-check form-switch col-md-3">                            
                          <input class="form-check-input" type="checkbox" id="grEstado" th:field="*{grEstado}">
                          <label for="grEstado" class="form-check-label" > Activo</label>
                        </div>
                      </div>
                      <div
                        class="card-footer col-sm-12 col-md-12 col-lg-12 mb-3 mb-sm-0"
                      >
                        <input
                          type="submit"
                          class="btn btn-primary"
                          value="Guardar"
                        />
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End of Main Content -->
          <footer th:replace="layout/footer :: _footer"></footer>
        </div>
      </div>
    </div>
    <!-- End of Content Wrapper -->

    <a th:replace="layout/modallogout :: stopbot"></a>

    <div th:replace="layout/modallogout :: modal_logout"></div>

    <!-- 	Modal para crear usuario -->

    <!-- Fin Modal -->
    <!-- Bootstrap core JavaScript-->
    <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

    <!-- Core plugin JavaScript-->
    <script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

    <!-- Custom scripts for all pages-->
    <script th:src="@{/js/sb-admin-2.min.js}"></script>

    <!-- Page level plugins -->
    <script th:src="@{/vendor/chart.js/Chart.min.js}"></script>

    <!-- Page level custom scripts -->
    <script th:src="@{/js/demo/chart-area-demo.js}"></script>
    <script th:src="@{/js/demo/chart-pie-demo.js}"></script>
  </body>
</html>
