<!-- Scroll to Top Button-->
	<a th:fragment="stopbot" class="scroll-to-top rounded" href="#page-top"> <i
		class="fas fa-angle-up"></i>
	</a>

	<!-- Logout Modal-->
	<div th:fragment="modal_logout" class="modal fade" id="logoutModal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Listo para Salir?</h5>
					<button class="close" type="button" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">Elija "Salir" Si esta seguro de finalizar la sesión.</div>
				<div class="modal-footer">
					<button class="btn btn-secondary" type="button"
						data-dismiss="modal">Cancelar</button>
					<form th:action="@{/logout}" method="post" id="logoutForm">
						<!--							<button type="submit" class="btn btn-danger">Salir</button>-->
						<a class="btn btn-primary" href="#"
							onclick="document.getElementById('logoutForm').submit();">Salir</a>
					</form>
<!-- 					<a class="btn btn-primary" th:href="@{login.html}">Salir</a> -->
				</div>
			</div>
		</div>
	</div>